@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --font-color: #181816;
  --brand-color: #f47c01;
  --font-oswald: Oswald, sans-serif;
  --button-hover: #fe860b;
  --color-gray: #c2c6c9;
}
